
:root {
    --bg-color: #181419;
    --primary-color: #48a3a3;
    --secondary-color: rgb(187, 152, 157);
    --third-color: #db4648;
    --third-color: #48a3a3;
    --third-bis-color: #c0db46f2;
    --bg-input-color: #4f31572c;
}

* {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

h2,
h3 {
    color: #FFF;
    font-size: 2vw;
}

#logo {
    font-weight: bold;
}

.search-title {
    color: white;
    font-size: 3vw;
}

.receta-item-img {
    width: 200px;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}



body,
html {
    height: 100%;
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Rubik', sans-serif;
}

.scrolled {
    background-color: var(--third-color);
}

#banner {
    background-image: url('../vid/istockphoto-1388363407-640_adpp_is.gif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.5);
}


.header {
    background-color: rgb(187, 152, 157);
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.btn-rec {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px;
    color: #FFF;
}

.container {

    max-width: 1200px;
    margin: 0 auto;
}

/* Alinea al centro el bot贸n de registrarse */
.card-banner {
    margin: 0 auto;
    text-align: center;
    padding: 0px 160px;
}


.input-search {
    background-color: var(--bg-input-color);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    height: 50px;
    margin: 20px 0px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
    font-family: 'Rubik', sans-serif;
}

.receta-item-detail {
    bottom: -100%;
    padding: 30px;
    max-height: 100%;
    overflow-y: auto;
    line-height: 15px;
    position: absolute;
    background-color: var(--third-bis-color);
    box-sizing: border-box;
    transition: bottom 0.4s ease-in-out;
    width: 100%;
}

.receta-item-detail-title {
    color: white;
    margin: 5px 0px 0px 0px;
}

.receta-item-detail-subtitle {
    color: white;
    font-size: 8px;
    margin: 3px 0px;
}

#top-rated {
    margin: 50px 0px;
}

/* 
<!-- Info de las pel铆culas mismo formato para todas --> */
.receta-item-v2 {
    border-radius: 20px;
    width: 170px;
    min-width: 170px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;

}

.wrapper {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    border-radius: 10px;
    width: 100%;
    min-height: calc(150px*1.5);
    height: calc(150px*1.5);
    overflow: hidden;
}

.receta-item-img-v2 {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.receta-item-detail-v2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.receta-item-detail-title-v2 {
    color: white;
    font-weight: bold;
    margin: 5px 0px 0px 0px;
}

.receta-item-detail-subtitle-v2 {
    color: white;
    font-size: 12px;
    margin: 3px 0px;
}

/* CSS 4 - Selectores avanzados y Animaciones. Selectores avanzados. 
Animaciones con CSS. Incorporaci贸n de transformaciones y transiciones
 a elementos. Introducci贸n Responsive Web Design.  --------------------------------*/
#logo a {
    color: white;
    text-decoration: none;
}


#logo:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0eg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

.nav-links a {
    text-decoration: none;
    color: #FFF;
}

.nav-links a:hover {
    color: var(--secondary-color);
}

.btn-rec:hover {
    color: var(--secondary-color) !important;
    border: 2px solid var(--secondary-color);
}

.card-banner h1 {
    color: #FFF;
    font-size: 4vw;
}

.card-banner h2 {
    margin-bottom: 20px;
}



#popular,
#top-rated {
    text-align: center;
}

#popular h2,
#top-rated h2 {
    margin: 30px 0px;
}

.receta-item {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 200px;
    height: 300px;
    font-size: 20px;
    cursor: pointer;
    transition: all 450ms;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

/* Efecto que ocurre al pasar el cursor sube una ventana en 
cada imagen de cada pel铆cula y muestra los detalles */
.receta-item:hover {
    opacity: 0.9;
}

.receta-item:hover .receta-item-detail {
    bottom: 0;
}

*/

/* Agrega una estrella al lado del subtitulo */
.receta-item-detail-subtitle::after {
    content: '';
}


.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

/* Estilos a los nombres de las pel铆culas que 
est谩n en la secci贸n  */
.receta-item-detail-title-v2:hover {
    color: var(--primary-color);
}


/* CSS 5. Flexbox. Media Queries. 驴Qu茅 es Flexbox?
Propiedades para el contenedor Flex, y los Flex items ---------------------*/
.footer {
    align-items: center;
    background-color: var(--secondary-color);
    display: flex;
    height: 100px;
    width: 100%;
}

#search {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h2 {
        font-size: 3vw;
    }

    .login-text {
        display: none;
    }

    .logo-text {
        display: none;
    }

    #banner {
        height: 400px;
    }

    #search {
        height: 200px;
    }

    .container {
        max-width: 720px;
    }

    .card-banner {
        padding: 0px 75px;
    }

    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}


/* CELULARES */
@media screen and (max-width: 767px) {
    h2 {
        font-size: 3vw;
    }

    .h2-subtitle {
        font-size: 5vw;
    }

    .login-text {
        display: none;
    }

    .logo-text {
        display: none;
    }

    #banner {
        height: 300px;
    }

    #search {
        height: 200px;
    }

    .container {
        max-width: 420px;
    }

    .card-banner {
        padding: 0px 50px;
    }

    .btn-rec {
        font-size: 1vh;
    }

    #footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #footer a {
        padding: 2px 0px;
    }
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 50px;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

/* Centra el texto que info sobre pel铆culas 
y series ilimitadas */
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Se agrega un scroll */
.recetas-scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 40px 0px;
}

.receta-item-v2 {
    border-radius: 20px;
    width: 170px;
    min-width: 170px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;

}


.receta-item-detail-v2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.recetas-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    row-gap: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-input-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--third-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--third-color);
}


.d-form {
    width: 100%;
    margin-bottom: 20px;
}

.d-iframe {
    width: 100%;
}

/* Formulario de registro */

#form-wrapper {
    margin-top: 11vh;
    margin-left: 50vh;
    max-width: 700px;
    width: 100%;
    padding: 20px;
    border-radius: 60px;
    background-color: var(--bg-color);
    font-family: 'Rubik', sans-serif;
    box-shadow: inset 0 0 0 2000px rgba(117, 117, 117, 0.7);
}

.form-control {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}

.form-help a {
    color: white;
    text-decoration: underline;
}

.form-help a:hover {
    text-decoration: underline;
}

/* Recetas Tendencia y aclamadas */

.recetasTendencia {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;

    .tituloSection {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .recetas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;

        a {
            text-decoration: none;
            color: #ffffff;

            .receta {
                width: 200px;
                height: 300px;
                position: relative;
                overflow: hidden;
                border-radius: 10px;
                transition: all 0.5s ease;

                .imgTendencia {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;

                }

                .tituloreceta {
                    z-index: 2;
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    left: 50%;
                    max-width: 20rem;
                    width: 100%;
                    transform: translateY(-50%) translateX(-50%);

                    h4 {
                        font-size: 1.6rem;
                        font-weight: bold;
                        opacity: 0;
                        margin-bottom: 0.5rem;
                        letter-spacing: 0.1rem;
                        transition: opacity 0.5s ease-in-out;

                    }
                }

                &:hover {
                    box-shadow: 0 0 30px #48a3a3;
                    transform: scale(0.9);

                }

                &:hover .tituloreceta {
                    width: 100%;
                    height: 100%;
                    backdrop-filter: blur(20px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:hover h4 {
                    width: 100%;
                    padding: 0.5rem;
                    opacity: 1;
                }

            }
        }

    }

    .boton {
        border: 1px solid white;
        box-sizing: content-box;
        margin-top: 50px;
        margin-left: 20px;
        background-color: var(--primary-color);
        color: #ffffff;
        padding: 1rem 1rem;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        margin-bottom: 60px;
        /* Agregar efecto de bot贸n presionado */
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
            background-color: var(--primary-color);
            transform: scale(0.95);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        }

    }
}

.recetasAclamadas {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;

    .tituloSection {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .aclamadas {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px 0px 40px 0px;

        .recetaItem {
            border-radius: 25px;
            width: 170px;
            min-width: 170px;
            font-size: 20px;
            cursor: pointer;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .imgAclamada {
                border-radius: 5%;
                width: 95%;
                height: 95%;
                object-fit: cover;
            }

        }


    }
}

/* Formulario de detalles */
/* Estilo para la secci贸n de detalle */
.detalle {
    background-color: var(--bg-color);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contenedorDetalle {
    margin-top: 11vh;
    margin-left: 50vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
  }
  
  .imgDetalle img {
    border-radius: 20px;
    max-width: 50%;
    height: auto;
    object-fit: cover;
  }
  
  .textoDetalle {
    max-width: 600px;
    padding: 20px;
  }
  
  .textoDetalle h1, .textoDetalle h2, .textoDetalle h3 {
    color: var(--primary-color);
  }
  
  .textoDetalle p {
    color: white;
    font-size: 1rem;
  }
  
  .contenedorCreditos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  
  .contenedorCreditos div {
    background-color: var(--bg-input-color);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    min-width: 150px;
  }
  
  /* Estilo para la secci贸n del video de la receta */
  .trailer {
    background-color: var(--bg-color);
    color: white;
    padding: 40px 20px;
  }
  
  .contenedorTrailer {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contenedorTrailer h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  
  .contenedorTrailer iframe {
    border-radius: 10px;
    max-width: 100%;
  }
  
  .contenedorInfo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .redes ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .redes a {
    color: var(--primary-color);
    font-size: 1.5rem;
    
  }
  
  .redes a:hover {
    color: var(--secondary-color);
  }
  
  .info {
    background-color: var(--bg-input-color);
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    max-width: 500px;
    min-width: 300px;
  }
  
  .info table {
    width: 100%;
    color: white;
    border-collapse: collapse;
  }
  
  .info th {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: left;
  }
  
  .info td {
    padding: 10px;
    border-bottom: 1px solid white;
  }
  
  .info tbody tr:last-child td {
    border-bottom: none;
  }
  